@tailwind base;
@tailwind components;
@tailwind utilities;


.friends-icon {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 8px;
}

.friends-icon::before,
.friends-icon::after {
  content: '';
  position: absolute;
  background-color: #ccc;
  border-radius: 50%;
}

.friends-icon::before {
  width: 10px;
  height: 10px;
  top: 8px;
  left: 4px;
}

.friends-icon::after {
  width: 10px;
  height: 10px;
  top: 8px;
  right: 4px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

